@media(max-width:600px){
    .container{
    background-color: purple;
    display: inline-block;
    height: 700px;
    width: 360px;



} 
/* card for home page */
.card{
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    left: 30px;
    border-radius: 25px;
}

    
.teacher{
    background-color: aqua;
    position: relative;
    top: 100px;
    left: 50px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
}
.student{
    background-color: aqua;
    position: relative;
    top: 110px;
    left: 50px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
}
.h1{
    color: pink;
    position: relative;
    left: 150px;
    
}
.h2{
    color: pink;
    position: relative;
    left: 50px;
}
.b{
    
    position: relative;
    top: 150px;
    left: 150px;
}


/* card for teacher login  page */
.card1{
    display: inline-block;
    background-color:pink;
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 30px;
    border-radius: 25px;
}
.name{
    color: blue;
    background-color:white;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    top: 30px;
    left: 70px;


}
.pass{
    color: blue;
    background-color:white;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    top: 40px;
    left: 70px;
    

}

.vary{
    color: blue;
    background-color:white;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    top: 50px;
    left: 70px;
    

}
.sub{
    color: white;
    background-color:rgb(35, 7, 245);
    width: 150px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    top: 60px;
    left: 70px;
    

}
.p1{
    color: rgb(35, 7, 245);
    
    
    border-radius: 25px;
    position: relative;
    top: 60px;
    left: 50px;
    

}


}